@import "variables";

mat-form-field {
  display: block;
}

#cardWrap {
  padding: 16px;
  width: 80vw;
  min-width: 310px;
  max-width: 550px;
  box-sizing: content-box;
  margin: auto;
}

#card, #registrationCard {
  margin: 10px auto;
  max-width: 450px;
  border-radius: 8px;
}

#card {
  padding-bottom: 24px;
}

#registrationCard {
  text-align: center;
  padding-bottom: 0;
}

.connectButton {
  margin: auto;
  display: block;
}

#cguLink, #cguLink:hover, #cguLink:visited {
  font-size: 12px;
  position: absolute;
  bottom: -30px;
  right: 0;
  color: rgb(117, 117, 117);
  text-decoration: none;
}

#registration, #registration:visited {
  color: $primary-color;
  display: inline-block;
  text-decoration: none;
  margin-left: 4px;
}

#registration:hover {
  cursor: pointer;
  text-decoration: underline;
}